<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>

    <!-- FullCalendar CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/main.min.css" rel="stylesheet"> {% endcomment %}

    <!-- CSRF Token -->
    {% comment %} <meta name="csrf-token" content="{{ csrf_token }}"> {% endcomment %}
</head>
<body>






    <meta name="csrf-token" content="{{ csrf_token }}">    

{% block content %}
{% endblock %} 



