<!DOCTYPE html>
<html>
  <head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        })
        calendar.render()
      })

    </script>
  </head>
  <body>
    <div id='calendar'></div>
    <div class="modal" id="modal-template">
      <div class="modal__title">
        <label>タイトル： <input type="text" id="title"></label>
      </div>
      <div class="modal__color">
        <label>背景色： <input type="color" id="color"></label>
      </div>
      <div class="modal__times">
        <label>開始： <input type="date" id="start"></label>
        <label>終了： <input type="date" id="end"></label>
      </div>
          
      <div class="modal-action-buttons">
        <button class="modal-action-buttons__button save" id="save">保存</button>
        <button class="modal-action-buttons__button delete" id="delete">削除</button>
        <button class="modal-action-buttons close material-icons" id="cancel">cancel</button>
      </div>
    </div>
  </body>
</html>