{% extends "account/base.html" %}
{% load static %} <!-- この行を追加 -->
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="container">
    <h1 class="gourmet-diary-title">Welcome to only my gourmet diary</h1>
    <p class="welcome-comment">
        行ってみて良かった、行ってみたいお店を登録して自分だけのグルメ記録アプリを作成しよう！
    </p>    
    

    {% comment %} <p class="comment">自分だけのグルメを記録しよう</p> {% endcomment %}
    <div class="links-center-container">
    {% comment %} <h1 class="my-5"></h1>
    <p>{{ user.username }}only my gourmet diary</p> {% endcomment %}
    {% comment %} <a href="{% url 'account:calendar' %}">カレンダー</a> {% endcomment %}
    {% comment %} <a href="{% url 'account:register_restaurant' %}">店舗登録</a> {% endcomment %}
        <a href="{% url 'account:restaurant_list' %}">店舗一覧</a>
        <a href="{% url 'account:search' %}">ジャンル検索</a>
        <a href="{% url 'account:logout' %}">ログアウト</a>
   </div>
   <img src="{% static 'account/カフェ.png' %}" alt="ホーム">
</div>
{% endblock %}

