{% extends 'account/base.html' %}


{% block content %}
<div class="container">
    <h1>{{ restaurant.name }}の写真</h1>
    <a href="{% url 'account:add_photo' restaurant.id %}" class="btn btn-primary">新しい写真を追加</a>

    {% comment %} <div class="photos">
        {% for photo in restaurant.photos.all %}
        <div class="photo"> 
            <!-- 画像が存在するかどうかを確認し、存在する場合にのみ表示 -->
            {% comment %} {% if photo.image %}  {% endcomment %}
            {% comment %} <img src="{{ photo.image.url }}" alt="{{ restaurant.name }}" width="200"> 
        </div> {% endcomment %}
    {% comment %} {% empty %} {% endcomment %}
    <p>写真はまだありません。</p> 
    {% comment %} {% endfor %}       {% endcomment %}
    <div class="centered-button-container">
    <a href="{% url 'account:home' %}" class="btn btn-home">ホームに戻る</a>
    {% comment %} <a href="{% url 'account:restaurant_list' %}" class="btn btn-home">ホームに戻る</a> {% endcomment %}
</div>
{% comment %} {% endblock %} {% endcomment %}